:root {
    --background-color: #121212;
    --primary-color: #007BFF;
    --secondary-color-leter: #268fff;
    --secondary-color: #FFFFFF;
    --text-color: #E0E0E0;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding-top: 15px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 5px 5px 20px var(--shadow-color);
    padding: 40px;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

header h1 {
    color: var(--primary-color);
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

header h2 {
    color: var(--secondary-color-leter);
    text-align: right;
    font-size: 20px;
    margin: 10px 50px 15px 0;
}

main {
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 5px 5px 20px var(--shadow-color);
    text-align: center;
    margin-bottom: 40px;
}

footer {
    color: var(--secondary-color);
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

/* Botão */
.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

/* Conteúdo do botão */
.btn-content {
  display: flex;
  flex-direction: column; /* Empilhando os elementos */
  align-items: center;
  justify-content: center;
}

.btn svg {
  transition: transform 0.5s;
  margin-bottom: 10px;  /* Espaço entre o logo e o texto */
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

.btn p {
  font-size: 14px;
  color: #333;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

img.imagem-logo {
  height: 55px;
  width: auto;
}

.btn-content p {
  margin-top: 15px;
  text-decoration: none;
}

.bnt a{
  text-decoration: none;
}