:root {
    --background-color: #000000;
}
body {
    background-color: var(--background-color);
}
header {
    color: blue;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 80px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}
