:root {
    --background-color: #000000;
}
body {
    background-color: var(--background-color);
}
header{
    color: blue;
    text-align: center;
    height: auto;
    width: auto;
    background-color: white;
}